.section-title {
    font-size: 50px;
    display: flex;
	justify-content: center;
}

.entry-fields {
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.entry-fields input[type="text"] {
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.entry-fields input[type="number"] {
    height: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 30px;
    padding: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    padding-top: 10%;
    padding-right: 15%;
}
.submit-button {
    padding: 20px 40px;
    font-size: 20px;
    border-radius: 15px;
    border: solid 2px black;
    cursor: pointer;
}
.submit-button:hover {
    background-color: #B7C5FB;
    box-shadow: 0 0 10px;
}
.submit-button:active {
    opacity: 0.5;
}