asgiref==3.7.2
click==8.1.7
colorama==0.4.6
Django==5.0.2
flake8==7.0.0
Markdown==3.5.2
mccabe==0.7.0
npx==0.1.2
numpy==1.26.4
optional-django==0.1.0
pillow==10.2.0
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.1
setuptools==69.1.1
sqlparse==0.4.4
svgwrite==1.4.3
tzdata==2024.1