asgiref==3.7.2
click==8.1.7
colorama==0.4.6
Django==5.0.3
djhtml==3.0.6
flake8==7.0.0
mccabe==0.7.0
npx==0.1.2
numpy==1.26.4
optional-django==0.1.0
pillow==10.2.0
pycodestyle==2.11.1
pyflakes==3.2.0
python-dotenv==1.0.1
sqlparse==0.4.4
svgwrite==1.4.3
tzdata==2024.1

reportlab~=4.1.0