{% extends "client/base_client.html" %}
<!-- This template shows the room reservation form, where the receptionist fills all the reservation fields -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/client/hotel/client_reservation.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/hotel/client_reservation_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/restaurant/client_restaurant.css' %}">
{% endblock extra_css %}

{% block title %}Restaurant{% endblock title %}
{% block id_restaurant_reservation %}id="current-page"{% endblock id_restaurant_reservation %}

{% block content %}
    <div class="main">
        <form method="post" class="general-form">
            {% csrf_token %}
            <div class="add-reservation-form">
                <div class="form-input inputs4 text-input">
                    <h5>{{ form.first_name.label }}</h5> {{ form.first_name }}
                </div>
                <div class="form-input inputs4 text-input">
                    <h5>{{ form.last_name.label }}</h5> {{ form.last_name }}
                </div>
                <div class="form-input inputs4 text-input">
                    <h5>{{ form.email.label }}</h5> {{ form.email }}
                </div>
                <div class="form-input inputs4 text-input">
                    <h5>{{ form.phone_number.label }}</h5> {{ form.phone_number }}
                </div>
            </div>
            <div class="procedural-buttons" id="step2-button">
                <button class="button continue-button" type="submit" onclick="return confirm('Confirma la reserva?');">Confirma</button>
            </div>
        </form>
    </div>
{% endblock content %}