{% extends "client/base_client.html" %}
<!-- This template shows the room reservation form, where the receptionist fills all the reservation fields -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/client/hotel/client_reservation.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/hotel/client_reservation_2.css' %}">
    <link rel="stylesheet" href="{% static 'css/client/restaurant/client_restaurant.css' %}">
{% endblock extra_css %}

{% block title %}Restaurant{% endblock title %}
{% block id_restaurant_reservation %}id="current-page"{% endblock id_restaurant_reservation %}

{% block content %}
    <div class="main">
        <h4 class="text-center">¿Confirmas las reserva?</h4>
        <form method="post">
            {% csrf_token %}
            <div class="procedural-buttons" id="step2-button">
                <button class="button cancel-button" type="submit" name="reservation_action" value="Cancelar Reserva">Cancel·la</button>
                <button class="button continue-button" type="submit" name="reservation_action" value="Confirmar Reserva">Confirma</button>
            </div>
        </form>
    </div>

{% endblock content %}