{% extends "worker/planner/base_planner.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/planner/planner_new_worker.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_new_worker %} id="current-page" {% endblock id_new_worker %}

{% block title %}Nou treballador{% endblock title %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Crear Nou Treballador</h2>
        <p class="process-guidance">Introdueixi les següents dades:</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group"><h5>Nom</h5> {{ form.first_name }}</div>
            <div class="form-group"><h5>Cognoms</h5> {{ form.last_name }}</div>
            <div class="form-group"><h5>ID</h5> {{ form.id_number }}</div>
            <div class="form-group"><h5>Correu electrònic</h5> {{ form.email }}</div>
            <div class="form-group"><h5>Telèfon</h5> {{ form.phone_number }}</div>
            
            <div class="form-group"><h5>Nom d'usuari</h5> {{ form.username }}</div>
            <div class="form-group"><h5>Contrasenya</h5> {{ form.password1 }}</div>
            <div class="form-group"><h5>Confirma la contrasenya</h5> {{ form.password2 }}</div>
            
            <div class="form-group"><h5>Tipus de treballador</h5> {{ create_worker_form.worker_type }}</div>
            <div class="procedural-buttons">
                <button class="filter-button" type="submit">Confirma</button>
            </div>
        </form>
    </div>
{% endblock content %}