{% extends "worker/planner/base_planner.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/planner/planner_room_assignment_details.css' %}">
    <link rel="stylesheet" href="{% static 'css/worker/cleaner/cleaner_rooms.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_room_assignment %} id="current-page" {% endblock id_room_assignment %}

{% block title %}Assignar habitacions{% endblock title %}

{% block content %}
    <div class="main">
        <h1>Detalls de l'habitació i assignació</h1>
        <div id="info">
            <p><strong>Número d'habitació:</strong> {{ room.room_num }}</p>
            <p><strong>Tipus d'habitació:</strong> {{ room.room_type }}</p>
            <p><strong>Treballador assignat:</strong> {{ cleaner }}</p>
            <form method="POST" action="{% url 'assign_cleaner_to_room' room.id %}">
                {% csrf_token %}
                <div class="form-group"><h5><label for="cleaner_id">Esculli al treballador:</label></h5>
                    <div class="select-bar"><select name="cleaner_id" id="cleaner_id">
                        {% for cleaner in cleaners %}
                            <option value="{{ cleaner.id }}">{{ cleaner.get_full_name }}</option>
                        {% endfor %}
                    </select></div>
                    <div class="assign-button">
                        <button class="back-button" type="submit">Assignar</button>
                    </div>
                </div>
            </form>
            {% if room.cleaner %}
                <form method="POST" action="{% url 'unassign_cleaner_from_room' room.id %}">
                    {% csrf_token %}
                    <button class="back-button" type="submit">Desassignar</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}