#section-title {
    font-size: 50px;
    margin: 0;
}

.buttons {
    height: 50%;
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: baseline;
    justify-content: space-evenly;
}
.access-process-button {
    font-size: 20px;
    padding: 15px 50px;
    transition: background-color 0.2s, border-radius 0.2s
}
.access-process-button:hover {
    background-color: #B7C5FB;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}
.access-process-button:active {
    opacity: 0.8;
    border-radius: 15px;
}

a {
    color: black;
    text-decoration: none;
}