{% extends "worker/accountant/base_accountant.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/accountant/accountant.css' %}">
{% endblock extra_css %}


{% block content %}
    <div class="main">
        <h1 class="section-title">
            COMPTABILITAT
        </h1>
        <p class="process-guidance">
            Esculli el procediment que desitja realitzar:
        </p>
        <div id="access-process-buttons">
            <a href="{% url 'cleaning_material' %}">
                <button class="access-process-button">Material de neteja</button>
            </a>
            <a href="{% url 'billing_data' %}">
                <button class="access-process-button">Dades de facturació</button>
            </a>
            <form action="{% url 'tourist_tax' %}" method="post">
                {% csrf_token %}
                <button class="access-process-button">Pagar la taxa turística</button>
            </form>
            <form action="{% url 'send_guests_data_to_authorities' %}" method="post">
                {% csrf_token %}
                <button id="send-data-button" class="access-process-button">Enivar dades a les autoritats</button>
            </form>
        </div>
    </div>

{% endblock content %}
