{% extends "worker/accountant/base_accountant.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/accountant/accountant.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_billing_data %} id="current-page" {% endblock id_billing_data %}

{% block title %}Dades de facturació{% endblock title %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Dades de facturació</h2>
        <!-- Temporal code here -->
    </div>
{% endblock content %}