{% extends "worker/accountant/base_accountant.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/accountant/accountant.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_cleaning_material %} id="current-page" {% endblock id_cleaning_material %}

{% block title %}Material de neteja{% endblock title %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Afegir material de neteja</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            <br>
            <br>
            <div class="form-group"><h5>{{ form.material_name.label }}</h5> {{ form.material_name }}</div>
            <br>
            <br>
            <div class="form-group"><h5>{{ form.image.label }}</h5> {{ form.image }}</div>
            <br>
            <br>
            <div class="procedural-buttons">
                <button class="filter-button" type="submit">Continua</button>
            </div>
        </form>
            
        <!-- Temporal code here -->
    </div>
{% endblock content %}