{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template shows the room reservation form, where the receptionist fills all the reservation fields -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet"
          href="{% static 'css/worker/receptionist/reservation/new_reservation/new_reservation_1.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_reservation %} id="current-page" {% endblock id_reservation %}

{% block title %}Reserva habitació{% endblock title %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Crear nova reserva</h2>
        <form method="post" class="general-form">
            <div class="add-reservation-form">
                {% csrf_token %}
                <div class="date">
                    <!-- Temporal div -->
                    <div id="temporal-div">
                        <style>
                            #temporal-div {
                                margin-left: 15px;
                            }
                        </style>
                    </div>
                </div>
                <div class="reservation-info-form">
                    <div class="form-input number-input">
                        <h5 class="title-input">Nombre d'hostes</h5>
                        {{ form.num_guests }}
                    </div>
                    <div class="form-input select-input">
                        <h5 class="title-input">Tipus de pensió</h5>
                        {{ form.pension_type }}
                    </div>
                </div>
            </div>
            <div class="procedural-buttons">
                <button class="cancel-button" type="button" onclick="goBack()">&#10092; Cancel·lar</button>
                <button class="continue-button" type="submit">Create &#10093;</button>
            </div>
        </form>
    </div>
{% endblock content %}