{% extends "client/base_client.html" %}
<!-- This template shows the room reservation form, where the receptionist fills all the reservation fields -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/client/client_reservation.css' %}">
{% endblock extra_css %}

{% block title %}Booking{% endblock title %}
{% block id_new_reservation %}id="current-page"{% endblock id_new_reservation %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Crear nova reserva</h2>
        <form method="post" class="general-form">
            <div class="add-reservation-form">
                {% csrf_token %}
                <div class="date-form">
                    <section>
                        <div class="form-input date-input">
                            {{ form.entry }}
                        </div>
                        <i class="gg-chevron-double-right"></i>
                        <div class="form-input date-input">
                            {{ form.exit }}
                        </div>
                    </section>
                </div>
                <div class="reservation-info-form">
                    <div class="form-input select-input">
                        <div class="grid-container">
                            {% for value, url in image_urls.items %}
                                {% if value != "No seleccionat" %}
                                    <div class="grid-item">
                                        <input type="radio" id="{{ value }}" name="room_type" value="{{ value }}">
                                        <label for="{{ value }}">
                                            <img class="room-image" src="{{ url }}" alt="{{ value }}">
                                            <span class="room-type-text">{{ value }}</span>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="procedural-buttons">
                    <button class="button cancel-button" type="button" onclick="goBack()"><i class="gg-arrow-left"></i></button>
                    <button class="button continue-button" type="submit"><i class="gg-arrow-right"></i></button>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}