{% extends 'base.html' %}

{% block content %}
    <h4>Resumen de la reserva</h4>
    <ul class="first_block">
        <li>Fecha de entrada: {{ booking.entry }}</li>
        <li>Fecha de salida: {{ booking.exit }}</li>
        <li>Número de húespedes: {{ booking.num_guests }}</li>
        <li>Tipo de habitación: {{ booking.room.room_type }}</li>
        <li>Pensión: {{ booking.pension_type }}</li>
        <li>Número de habitación: {{ booking.room.room_num }}</li>
    </ul>

    <ul class="second_block">
        <li>Número de reserva: {{ booking.id }}</li>
        <li>DNI: {{ client.id_number }}</li>
        <li>Nombre: {{ client.first_name }}</li>
        <li>Apellido: {{ client.last_name }}</li>
        <li>Correo electrónico: {{ client.email }}</li>
        <li>Teléfono: {{ client.phone_number }}</li>
    </ul>
{% endblock %}

