form {
    width: 100%;
}

/************** Stock search bar **************/
#stock-form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: solid 2px black;
    border-radius: 20px;
    background-color: white;
    margin-bottom: 5px;
}

#stock-form p {
    width: calc(100% - 35px);
}

/************** Select input **************/
select {
    width: 100%;
    height: 35px;
    border: none;
    border-radius: 20px 0 0 20px;
    padding-left: 10px;
    font-size: 16px;
    background-color: transparent;
}

select:focus {
    outline: solid 2px #a1b5ff;
    border-radius: 20px;
}

/************** Search icon **************/
#search {
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

#search:hover, #search:focus {
    cursor: pointer;
    background-color: #B7C5FBFF;
    border-radius: 50%;
    outline: none;
}

/************** Stock list **************/
#stock_list_form {
    height: max-content;
}

.stock {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

/************** Stock element **************/
.stock-element {
    width: 150px;
    height: 150px;
    outline: solid 2px black;
    border-radius: 2px;
}

#stock-name {
    display: flex;
    width: 100%;
    height: 32px;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /*align-content: center;*/
    justify-content: center;
    margin: 0;
    padding: 4px 0 0 0;
    border-radius: 2px 2px 0 0;
    background: linear-gradient(180deg, #e3e8ff 0%, #e3e8ff 40%, white 100%);
    /*background-color: #e3e8ff;*/
}

.stock-element img {
    aspect-ratio: 4/3;
    width: 100%;
    border-radius: 0 0 2px 2px
}
 /************** Stock unchecked checkbox **************/
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

/************** Stock checked checkbox **************/
input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(/static/img/sense-stock.png) no-repeat center center;
    z-index: 1;
}

input[type="checkbox"]:checked + label img {
    filter: blur(3px);
    z-index: -1;
}
input[type="checkbox"]:checked + label #stock-name {
    opacity: 0.6;
    z-index: -1;
}

/************** Stock unchecked element hover **************/
input[type="checkbox"] + label:hover img {
    filter: blur(3px);
    cursor: pointer;
}

input[type="checkbox"] + label:hover::before {
    cursor: pointer;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    outline: solid 3px black;
    border-radius: 2px;
}

/************** Stock checked element hover **************/
input[type="checkbox"]:checked + label:hover img {
    filter: blur(0);
}

input[type="checkbox"]:checked + label:hover::before {
    opacity: 1;
}

/************** Stock unchecked element active **************/
input[type="checkbox"] + label:active::before {
    background: black;
    opacity: 0.3;
    z-index: 1;
}

/************** Stock checked element active **************/
input[type="checkbox"]:checked + label:active::before {
    background: black;
    opacity: 0.3;
}

input[type="checkbox"]:checked + label:active img {
    filter: blur(3px);
}

/************** Update button **************/
#update-button {
    position: absolute;
    z-index: 2;
    bottom: 20px;
    right: 20px;
    height: 65px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
    padding: 15px 10px;
}

#update-button {
    color: #293c80;
    background-color: #eef2ff;
    border: 3px solid #293c80;
}

#update-button:hover {
    color: #eef2ff;
    background-color: #293c80;
    border: 3px solid #293c80;
}

#update-button:active {
    opacity: 0.4;
}