{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template allows to enter an id to search for a client reservation -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/check-out/check-out_1.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_check-out %} id="current-page" {% endblock id_check-out %}

{% block title %}Check Out{% endblock title %}

{% block content %}
    <div class="main">
        <h1 class="section-title">Afegir costos extra</h1>
        <form action="{% url 'add_extra_costs' pk=reservation.id %}" method="post">
            {% csrf_token %}
            <label for="id_extra_costs_price">Extra costs price:</label>
            {{ form.extra_costs_price }}
            <label for="id_extra_costs_type">Extra costs type:</label>
            {{ form.extra_costs_type }}
            <div class="procedural-buttons">
                <button class="cancel-button" type="button" onclick="goBack()">&#10092; Cancel·lar</button>
                <button class="continue-button" type="submit">Create &#10093;</button>
            </div>
        </form>
    </div>
{% endblock %}