{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template allows to enter an id to search for a client reservation -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/check-out/check-out_1.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_check-out %} id="current-page" {% endblock id_check-out %}

{% block title %}Check Out{% endblock title %}

{% block content %}
    <div class="main">
        <h1 class="section-title">CHECK-OUT</h1>
        <!-- <p class="process-guidance">
            Per iniciar el procés de "Check-Out" introdueixi una de les següents dades sol·licitades:
        </p> -->
        <form method="get" class="general-form">
            {% csrf_token %}
            <div class="filter-field">
                <div class="form-group">
                    <h5>{{ form.num_reservation.label }}</h5>
                    {{ form.num_reservation }}
                </div>
                <div class="form-group">
                    <h5>{{ form.id_number.label }}</h5>
                    {{ form.id_number }}
                </div>
                <div class="form-group">
                    <h5>{{ form.room_num.label }}</h5>
                    {{ form.room_num }}
                </div>
                <div class="procedural-buttons">
                    <button class="filter-button" type="submit">Filtrar</button>
                </div>
            </div>
        </form>

        <form method="post">
            {% csrf_token %}
            <div id="notifications">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="notification-err">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>

        <ul class="reservation-list">
            <ul class="list-index">
                <li id="reservation-id">Reserva</li>
                <li id="entry">Entrada</li>
                <li id="exit">Sortida</li>
                <li id="name">Client</li>
                <li id="pension">Pensió</li>
                <li id="num-guests">Nº hostes</li>
            </ul>
            <div id="divider"></div>
            {% for reservation in reservations %}
                <div class="list-div">
                    <li>
                        <div id="reservation-id">{{ reservation.id }}</div>
                        <div id="entry">{{ reservation.entry }}</div>
                        <div id="exit">{{ reservation.exit }}</div>
                        <div id="name">{{ reservation.client.first_name }}</div>
                        <div id="pension">{{ reservation.pension_type }}</div>
                        <div id="num-guests">{{ reservation.num_guests }}</div>
                    </li>
                    <div class="list-extra">
                        <a class="icon" href="{% url 'check_out_summary' pk=reservation.id %}"><img id="check" width="30" height="30" src="{% static 'img/icons/enter-icon.png' %}" alt="delete"></a>
                        <!-- <a href="% url 'check_out_summary' pk=reservation.id %}"><button class="list-button">Check-out</button></a> -->
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock %}