{% extends "worker/base_worker.html" %}
<!-- The receptionist_home template must be the first step of the reservation process -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/worker.css' %}">
{% endblock extra_css %}

{% block title %}Recepció{% endblock title %}

{% block menu %}
    <li><a href="{% url 'receptionist_home' %}"><button {% block id_reservation %}{% endblock %}>Reserves</button></a></li>
    <li><a href="{% url 'check_in' %}"><button {% block id_check-in %}{% endblock %}>Check-in</button></a></li>
    <li><a href="{% url 'check_out' %}"><button {% block id_check-out %}{% endblock %}>Check-out</button></a></li>
{% endblock menu %}