{% extends "worker/receptionist/base_receptionist.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/receptionist_home.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_home %} id="current-page" {% endblock id_home %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="main">
        <h1 class="section-title">
            RECEPCIONISTA
        </h1>
        <p class="process-guidance">
            Esculli el procediment que desitja realitzar:
        </p>
        <div id="access-process-buttons">
            <a href="{% url 'reservations' %}">
                <button class="access-process-button">Reserves</button>
            </a>
            <a href="{% url 'check_in' %}">
                <button class="access-process-button">Check in</button>
            </a>
            <a href="{% url 'check_out' %}">
                <button class="access-process-button">Check out</button>
            </a>
        </div>
    </div>
{% endblock content %}