/******** Overwrite ********/
.procedural-buttons {
	width: 104px;
	height: 58px;
}

.procedural-buttons button {
	width: 100%;
	height: 100%;
}

.icon {
	margin-left: 3px;
	width: 100%;
}

.list-extra {
	width: 4%;
}

#reservation-id {
    width: 8%;
}

#entry {
    width: 16%;
}

#exit {
    width: 16%;
}

#name {
    width: 35%;
}

#pension {
    width: 18%;
}

#num-guests {
    width: 10%;
    min-width: max-content;
}

.list-div li {
	width: 96%;
}

.list-index {
	width: 96%;
}

#divider {
    width: calc(96% - 2px);
}

/*.submit-button {
	padding: 20px 40px;
	font-size: 20px;
	border-radius: 15px;
	border: solid 2px black;
	cursor: pointer;
}

.submit-button:hover {
	background-color: #B7C5FB;
	box-shadow: 0 0 10px;
}

.submit-button:active {
	opacity: 0.5;
}*/