body {
	background-color: #fafafa;
	font-family: "Gill Sans MT", Arial, sans-serif;
	margin: 0;
	padding: 0;
	aspect-ratio: 16 / 9;
	width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    height: 100%;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95%;
    width: 95%;
    max-height: 900px;
    max-width: 1600px;
    gap: 10px;
}