{% extends "worker/base_worker.html" %}
<!-- This template allows to select method of payment for the client reservation -->

{% block title %} Check In {% endblock %}

{% block content %}
    
    <h4>El check in s'ha realitzat correctament</h4>
    
    <p>Procedeix a entregar la clau de l'habitació {{ reservation.room.room_num }} a {{ client.first_name }} </p>
    
    <button><a href="{% url 'print_receipt' client.id reservation.id %}" class="btn btn-primary">Imprimir comprovant</a></button>
    
{% endblock %}