{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template shows all the info of the client reservation -->

{% load static %}
{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/worker/receptionist/check-out/check-out_2.css' %}">
{% endblock extra_css %}

{% block id_check-in %} id="current-page" {% endblock id_check-in %}

{% block title %}Check in{% endblock %}

{% block content %}

    <h2>Resum de la reserva:</h2>
    <div class="reservation-data">
        <div class="reservation-data-field">
            <div><p>Reserva:</p> <span class="entry-data">{{ reservation.id }}</span></div>
            <div><p>Data d'entrada:</p> <span class="entry-data">{{ reservation.entry }}</span></div>
            <div><p>Data de sortida:</p> <span class="entry-data">{{ reservation.exit }}</span></div>
            <div><p>Numero d'hostes:</p> <span class="entry-data">{{ reservation.num_guests }}</span></div>
            <div><p>Tipus d'habitació:</p> <span class="entry-data">{{ reservation.room.room_type }}</span></div>
            <div><p>Pensió:</p> <span class="entry-data">{{ reservation.pension_type }}</span></div>
            <div><p>Número d'habitació:</p> <span class="entry-data">{{ reservation.room.room_num }}</span></div>
        </div>

        <div class="reservation-data-field">
            <div><p>Hoste:</p> <span class="entry-data">{{ reservation.client }}</span></div>
            <div><p>Número d'identificació:</p> <span class="entry-data">{{ client.id_number }}</span></div>
            <div><p>Nom:</p> <span class="entry-data">{{ client.first_name }}</span></div>
            <div><p>Cognoms:</p> <span class="entry-data">{{ client.last_name }}</span></div>
            <div><p>Correu electrònic:</p> <span class="entry-data">{{ client.email }}</span></div>
            <div><p>Teléfono:</p> <span class="entry-data">{{ client.phone_number }}</span></div>
        </div>
    </div>

    <button onclick="window.location.href='summary'">Continuar</button>

{% endblock %}
