{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template allows to enter an id to search for a client reservation -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/check-in/check-in_1.css' %}">
{% endblock extra_css %}

{% block id_check-in %} id="current-page" {% endblock id_check-in %}

{% block title %}Check In{% endblock title %}

{% block content %}
    <div class="main">
        <h1 class="section-title">CHECK-IN</h1>
        <p class="process-guidance">
            Per iniciar el procés de "Check-In" introdueixi una de les següents dades sol·licitades:
        </p>

        <form method="post" class="general-form">
            {% csrf_token %}
                <div class="entry-fields">
                    <div class="form-group">
                        <p>{{ form.num_reservation.label }}</p>
                        {{ form.num_reservation }}
                    </div>
                    <div class="form-group">
                        <p>{{ form.id_number.label }}</p>
                        {{ form.id_number }}
                    </div>
                </div>
                <div class="procedural-buttons">
                    <button class="cancel-button" type="button" onclick="goBack()">&#10092; Cancel·lar</button>
                    <button class="continue-button" type="submit">Create &#10093;</button>
                </div>
        </form>

        <form method="post">
            {% csrf_token %}
            <div id="notifications">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="notification-err">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
