{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template shows all the info of the client reservation -->

{% block title %}Check in{% endblock %}

{% block content %}

    <h4>Resum de la reserva:</h4>
    <div class="first_block">
        <p>Fecha de entrada: <span class="entry-data">{{ reservation.entry }}</span></p>
        <p>Fecha de salida: <span class="entry-data">{{ reservation.exit }}</span></p>
        <p>Número de húespedes: <span class="entry-data">{{ reservation.num_guests }}</span></p>
        <p>Tipo de habitación: <span class="entry-data">{{ reservation.room.room_type }}</span></p>
        <p>Pensión: <span class="entry-data">{{ reservation.pension_type }}</span></p>
        <p>Número de habitación: <span class="entry-data">{{ reservation.room.room_num }}</span></p>
    </div>

    <div class="second_block">
        <p>Número de reserva: <span class="entry-data">{{ reservation.id }}</span></p>
        <p>DNI: <span class="entry-data">{{ client.id_number }}</span></p>
        <p>Nombre: <span class="entry-data">{{ client.first_name }}</span></p>
        <p>Apellido: <span class="entry-data">{{ client.last_name }}</span></p>
        <p>Correo electrónico: <span class="entry-data">{{ client.email }}</span></p>
        <p>Teléfono: <span class="entry-data">{{ client.phone_number }}</span></p>
    </div>

    <button onclick="window.location.href='summary'">Continuar</button>

{% endblock %}
