{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template allows to enter an id to search for a client reservation -->

<!-- This block must appear in every reservation template as it is -->
{% block id_reservation %} id="current-page" {% endblock id_reservation %}

{% block content %}
  <div class="container">
    <h2>Cercar reserva</h2>
    <form method="get">
      {% csrf_token %}
      <div class="form-group">
        {{ form.num_reservation.label_tag }}
        {{ form.num_reservation }}
      </div>
      <div class="form-group">
        {{ form.id_number.label_tag }}
        {{ form.id_number }}
      </div>
      <div class="form-group">
        {{ form.room_num.label_tag }}
        {{ form.room_num }}
      </div>
      <button type="submit">Filtrar</button>
    </form>
  
    <form method="post">
      {% csrf_token %}
      <div id="notifications">
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="notification-err">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>
    </form>
  </div>

    <h3>Llista de Reserves</h3>
    <div>
      <ul>
        {% for reservation in reservations %}
          <li>
            Reserva {{ reservation.id }}:
            <a href="{% url 'reservation_details' pk=reservation.pk %}">Veure Detalls</a>
          </li>
        {% endfor %}
      </ul>
    </div>
{% endblock %}