{% extends "worker/base_worker.html" %}
<!-- This template allows to enter an id to search for a client reservation -->

{% block content %}
  <div class="container">
    <h2>Buscar reserva</h2>
    <form method="post">
      {% csrf_token %}
        <!--General errors-->
      <div id="notifications">
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="notification-err">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <div>
        {{ form.num_reservation.label_tag }}
        {{ form.num_reservation }}
        {% if form.num_reservation.errors %}
          {% for error in form.num_reservation.errors %}
            <p class="notification-err">{{ error }}</p>
          {% endfor %}
        {% endif %}
      </div>

      <button type="submit">Buscar</button>
    </form>

    <h3>Llista de Reserves</h3>
    <div>
      <ul>
        {% for reservation in reservations %}
          <li>
            Reserva {{ reservation.id }}:
            <a href="{% url 'reservation_details' pk=reservation.pk %}">Veure Detalls</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}