{% extends "worker/base_worker.html" %}
<!-- This is the base template for the cleaner, every cleaner template must extend this one (except for the cleaner_stock template) -->

{% load static %}
<link rel="stylesheet" href="{% static 'css/worker/worker.css' %}">
{% block extra_css %}{% endblock extra_css %}

{% block title %}Neteja{% endblock %}

{% block menu %}
    <a class="home" {% block id_home %}{% endblock %} href="{% url 'cleaner_home' %}"><img src="{% static 'img/icons/home.png' %}" alt="home"></a>
    <li><a href="{% url 'cleaner_rooms' %}"><button {% block id_cleaner_home %}{% endblock %}>Habitacions</button></a></li>
    <li><a href="{% url 'cleaner_stock' %}"><button {% block id_cleaner_stock %}{% endblock %}>Stock</button></a></li>
{% endblock menu %}