{% extends "worker/cleaner/base_cleaner.html" %}
<!-- This template shows the cleaner all the assigned rooms to clean for the day -->
<!-- This template is the first step for the main cleaner process -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/cleaner/cleaner_home.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every cleaner template as it is -->
{% block id_cleaner_home %} id="current-page" {% endblock id_cleaner_home %}

{% block content %}
    <div class="main">
        <h1 class="section-title">HABITACIONS ASSIGNADES</h1>
        <div class="check-out-rooms">
            <h4>Check-out</h4>
            <div class="check-out-room-list">
                {% for room in check_out_rooms %}
                    <p>hola</p>
                    <span>{{ room.room_num }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="occupied-rooms">
            <h4>En ocupació</h4>
            <div class="occupied-room-list">
                {% for room in occupied_rooms %}
                    <div class="occupied-hab">
                        <p>{{ room.room_num }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock content %}