p{
    margin: 0;
    font-size: 1.2em;
}

.add-reservation-form {
    /* Add your styles here */
    display: flex;
    flex-direction: row;
    gap: 50px;
    outline: 1px solid #000000;
    justify-content: center;
    border-radius: 8px;
    margin: 10px;
}

.date-form{
    width: 45%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin: 10px;
}
.date-input{
    width: 48%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
    outline: solid 1px #000;
    border-radius: 8px;
}
.title-input{
    text-align: center;
}
.date-input input[type="text"]{
    height: 30px;
    border: transparent;
    text-align: center;
    border-radius: 8px;
    font-size: 0.8em;
}


.reservation-info-form{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-end;
    gap: 10px;
    margin: 10px;
    width: 30%;
}

.guests-number{
    /*background-color: #e1e7e3;*/
    outline: solid 1px #000000;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
}
.guests-number input[type="number"]{
    width: 30px;
    height: 30px;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    font-size: 0.8em;
}
.guests-number p{
    padding-left: 7px;
}

.room-type{
    outline: solid 1px #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
.room-type select{
    width: 100%;
    height: 30px;
    border: transparent;
    border-radius: 8px;
    font-size: 0.8em;
    text-align: center;
}
.room-type p{
    text-align: center;
}

.pension-type{
    outline: solid 1px #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}
.pension-type select{
    width: 100%;
    height: 30px;
    border: transparent;
    border-radius: 8px;
    font-size: 0.8em;
    text-align: center;
}
.pension-type p{
    text-align: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}
button{
    width: 48%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: opacity 0.2s;
    padding: 15px 25px;
}

.cancel-button{
    color: #ff0000;
    background-color: #ffffff;
    border: 1px solid #ff0000;
}
.cancel-button:hover {
    color: #ffffff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
}
.cancel-button:active {
    opacity: 0.4;
}
.add-form-button {
    color: #14b909;
    background-color: #ffffff;
    border: 1px solid #14b909;
}
.add-form-button:hover {
    color: #ffffff;
    background-color: #14b909;
    border: 1px solid #14b909;
}
.add-form-button:active {
    opacity: 0.4;
}