{% extends "worker/restaurant/base_restaurant.html" %}

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_home.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_home %} id="current-page" {% endblock id_home %}

{% block title %}Home{% endblock title %}

{% block content %}
    <div class="main">
        <h1 class="section-title">
            RESTAURANT
        </h1>
        <p class="process-guidance">
            Esculli el procediment que desitja realitzar:
        </p>
        <div id="access-process-buttons">
            <a href="{% url 'new_restaurant_reservation_1' %}">
                <button class="access-process-button">Nova reserva</button>
            </a>
            <a href="{% url 'restaurant_reservations' %}">
                <button class="access-process-button">Reserves</button>
            </a>
        </div>
    </div>
{% endblock content %}