.general-form {
	width: 100%;
	display: flex;
	flex-direction: column;
    unicode-bidi: isolate;
}

/************** Text standards **************/
p {
    margin: 0;
    font-size: 1em;
}

.section-title {
    margin-bottom: 20px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    min-width: max-content;
}

.subsection-title {
    margin-bottom: 15px;
    font-size: 40px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.5em;
    font-weight: bold;
}

h5 {
    margin: 0;
    font-size: 1em;
    font-weight: bold;
}

h6 {
    margin: 0;
    font-size: 1.3em;
    font-weight: bold;
}

.process-guidance {
    display: flex;
    justify-content: center;
}

/************** Menu **************/
header {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    /*background-color: #A39E94;*/
    background-color: rgb(184, 189, 201);
    color: white;
    height: 70px;
    min-height: 70px;
    /*height: 8vh;
    min-height: 60px;*/
}

header button{
	font-family: "Gill Sans MT", Arial, sans-serif;
}

nav {
    display: flex;
    width: 75%;
    height: 100%;
    align-items: center;
}

.menu {
    width: 100%;
    height: 100%;
    order: 1;
    display: flex;
    list-style-type: none;
    color: black;
    justify-content: flex-start;
    padding: 0 5px;
    margin: 0;
    gap: 5px;
}

.menu li {
    width: 25%;
    min-width: max-content;
    height: 100%;
    align-self: center;
}

.menu button {
    align-self: center;
    font-size: 16px;
    background-color: transparent;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.2s;
    border: none;
    border-radius: 8px 8px 4px 4px;
}

.menu button:hover {
    /*background-color: #95b0a7;*/
    background-color: rgba(183, 197, 251, 0.47);
}

.menu button:active {
    /*background-color: #6b7e77;*/
    background-color: rgba(123, 146, 241, 0.6);
    color: white;
}

#current-page {
    font-weight: bold;
    /*background-color: #A39488;*/
    /*background-color: #95b0a7;
    background-color: rgb(213, 218, 224);*/
    background-color: rgba(123, 146, 241, 0.6);
    border-bottom: solid 2px black;
}

#current-page:hover {
    /*background-color: #6b7e77;*/
    background-color: rgb(183 197 251 / 47%);
}

#current-page:active {
    background-color: rgba(101, 129, 245, 0.6);
    color: white;
    border-bottom: solid 2px white;
    /*background-color: #95B0A7FF;
    color: #6b7e77;*/
}

#right-header {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 10px;
}

#language {
    color: #000000;
    font-weight: bold;
}

#separator {
    width: 1px;
    background-color: #3d3d3d;
    border: 1px solid #3d3d3d;
    border-radius: 50px;
    height: 65%;
}

#user {
    width: 50px;
}

input {
    background-color: white;
    border: 2px solid black;
}

/************** Reservation briefing **************/
.reservation-briefing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    gap: 30px;
}

.reservation-briefing-data {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 48%;
    border: solid 1px black;
    border-radius: 2px;
    padding: 10px;
    gap: 25px;
}

.reservation-briefing-data div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.entry-data {
	font-weight: bold;
	align-content: center;
}

.reservation-briefing-data li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.reservation-briefing-data p {
    align-content: center;
}

.reservation-briefing-data span {
    align-content: center;
}

/************** Choice buttons **************/
.access-process-button {
    font-size: 20px;
    padding: 30px 75px;
    transition: background-color 0.2s, border-radius 0.2s
}

.access-process-button:hover {
    font-weight: bold;
    padding: 29px 70px;
    background-color: #B7C5FB;
    box-shadow: 0 0 10px grey;
    border-radius: 10px;
    border: solid 2px black;
    cursor: pointer;
}

.access-process-button:active {
    opacity: 0.8;
    border-radius: 15px;
}

.access-process-button a {
    color: black;
    text-decoration: none;
}

/************** Procedural buttons **************/
.procedural-buttons {
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.procedural-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 20%;
    max-height: 60px;
    max-width: 160px;
    min-height: 40px;
    min-width: 104px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px;
    cursor: pointer;
    transition: opacity 0.2s;
    padding: 15px 10px;
}

.cancel-button {
    color: #ff0000;
    background-color: #ffffff;
    border: 1px solid #ff0000;
}

.cancel-button:hover {
    color: #ffffff;
    background-color: #ff0000;
    border: 1px solid #ff0000;
}

.cancel-button:active {
    opacity: 0.4;
}

.continue-button {
    color: #14b909;
    background-color: white;
    border: 1px solid #14b909;
}

.continue-button:hover {
    color: white;
    background-color: #14b909;
    border: 1px solid #14b909;
}

.continue-button:active {
    opacity: 0.4;
}

.filter-button {
    color: #7f9bff;
    background-color: white;
    border: 2px solid #7f9bff;
}

.filter-button:hover {
    color: white;
    background-color: #a1b5ff;
    border: 2px solid #7f9bff;
}

.filter-button:active {
    opacity: 0.4;
}

/************** Filter-field **************/
.filter-field {
    width: 100%;
	font-weight: bold;
	font-size: 20px;
	display: flex;
	justify-content: center;
	gap: 3%;
	align-items: flex-end;
	flex-wrap: wrap;
}

.filter-field h5 {
	margin-left: 5px;
}

.filter-field input[type="text"], input[type="number"] {
	height: 34px;
	border-radius: 5px;
	text-align: center;
	font-size: 30px;
	padding: 10px;
}

.filter-field input[type="text"]:focus, input[type="number"]:focus {
    outline: solid 2px #a1b5ff;
}


.form-group {
	display: flex;
	flex-direction: column;
	gap: 1px;
	width: 25%;
	min-width: 270px;
}

/************** Reservations list **************/

.list {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 3px;
    width: 95%;
}

.list-index {
    width: 92%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.list-index li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-right: solid 2px #fafafa;
    /*text-decoration: underline;*/
    list-style-type: none;
    padding: 0;
}

.list-index li:last-child {
    border-right: none;
}

.list-index img {
    display: none;
}

.list-extra {
    width: 8%;
    padding-left: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.list-extra a {
    width: 95%;
    /*min-width: 86px;*/
    text-decoration: none;
}

.icon {
    display: flex;
    align-items: center;
    height: 100%;
    width: 30px;
    border: none;
}

#check {
    width: 35px;
    height: 35px;
}

#check:hover {
    opacity: 0.6;
}

.icon a {
    display: flex;
    align-items: center;
}

.icon img {
    width: 30px;
    height: 30px;
}

.reservation-list {
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin: 0;
    padding: 0;
}

#divider {
    width: calc(92% - 2px);
    height: 2px;
    border-radius: 5px;
    background-color: #B7C5FBFF;
}

.list-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.list-div li {
    width: 92%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    outline: solid 2px black;
    border-radius: 2px;
}

.list-div li div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    /*padding: 10px 15px;*/
    border-right: solid 2px black;
}

.list-div li div:last-child {
    border-right: none;
}

/***** table column sizes *****/
#reservation-id {
    width: 8%;
}

#entry {
    width: 16%;
}

#exit {
    width: 16%;
}

#name {
    width: 32%;
}

#pension {
    width: 18%;
}

#num-guests {
    width: 10%;
    min-width: max-content;
}


.icon form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon a:hover {
    background-color: #B7C5FBFF;
    border-radius: 50%;
}
.icon button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.icon button:hover {
    background-color: #B7C5FBFF;
    border-radius: 50%;
}