{% extends "base.html" %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/client/client.css' %}">
    {% block extra_css %}{% endblock extra_css %}
{% endblock css %}

{% block title %}Home{% endblock title %}
{% block extra_meta_tags %}
{% endblock extra_meta_tags %}

{% block header %}
    <nav>
        <ul class="menu">
            <a class="home" id="user-home" {% block id_home %}{% endblock %} href="{% url 'guest_home' %}"><img src="{% static 'img/test-logo-las-palmeras.png' %}" alt="home"></a>
            <li><a href="{% url 'guest_room_reservation' %}"><button {% block id_new_reservation %}{% endblock %}>Reservar habitació</button></a></li>
            <li><a><button> {% block id_restaurant_reservation %}{% endblock %}Reservar taula</button></a></li>
        </ul>
    </nav>
    <div id="right-header">
        <p id="language">CAT</p>
        <div id="separator"></div>
        <!-- <img id="user-img" src="{ user.profile.image.url }}" alt="User"> -->
        <img id="user" src="{% static 'img/icons/user-icon.png' %}" alt="User">
    </div>
{% endblock header %}

{% block content %}
    <p>NO CONTENT!</p>
{% endblock content %}

{% block footer %}
{% endblock footer %}