{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template shows the restaurant reservation form and must introduce info to check for restaurant availability -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_new_reservation/restaurant_new_reservation_1.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_restaurant_home %} id="current-page" {% endblock id_restaurant_home %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">Crear Nova Reserva</h2>
        <p class="process-guidance">Introdueixi les següents dades:</p>
        <form method="post">
            {% csrf_token %}
            <div class="form-group"><h5>{{ form.day.label }}</h5> {{ form.day }}</div>
            <div class="form-group"><h5>{{ form.service.label }}</h5> {{ form.service }}</div>
            <div class="form-group"><h5>{{ form.num_guests.label }}</h5> {{ form.num_guests }}</div>
            <div class="procedural-buttons">
                <button class="filter-button" type="submit">Continua</button>
            </div>
        </form>
    </div>
    {% csrf_token %}
    <div id="notifications">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="notification-err">{{ error }}</p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}