{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template allows to choose client type and introduce name and/or id -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_new_reservation/restaurant_new_reservation_2.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_restaurant_home %} id="current-page" {% endblock id_restaurant_home %}

{% block content %}
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <label for="client_type">Seleccioneu el tipus de client:</label>
            <select name="client_type" id="client_type">
                <option value="internal">Intern</option>
                <option value="external">Extern</option>
            </select>
            <button type="submit">Continuar</button>
        </form>
    </div>
{% endblock %}