{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template allows to choose client based on type -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_new_reservation/restaurant_new_reservation_3.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_new_reservation %} id="current-page" {% endblock id_new_reservation %}

{% block content %}
    <div class="main">
        <p class="process-guidance">Assigni un client a la reserva:</p>
        <form method="post">
            {% csrf_token %}
            {% if form.client != Null %}
                <div class="form-group"><h5>{{ form.client.label }}</h5> {{ form.client }}</div>
            {% endif %} {% if form.client == Null %}
                <div class="form-group"><h5>{{ form.first_name.label }}</h5> {{ form.first_name }}</div>
                <div class="form-group"><h5>{{ form.last_name.label }}</h5> {{ form.last_name }}</div>
                <div class="form-group"><h5>{{ form.email.label }}</h5> {{ form.email }}</div>
                <div class="form-group"><h5>{{ form.phone_number.label }}</h5> {{ form.phone_number }}</div>
            {% endif %}
            <div class="procedural-buttons">
                <button class="continue-button" type="submit">Confirma</button>
            </div>
        </form>
    </div>
{% endblock content %}