{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template shows the restaurant reservation form and must introduce info to check for restaurant availability -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_new_reservation/restaurant_new_reservation_1.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_restaurant_home %} id="current-page" {% endblock id_restaurant_home %}

{% block content %}
    <div class="main">
        <h1>Nova Reserva de Restaurant</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Comprova Disponibilitat</button>
        </form>
    </div>
{% endblock content %}