{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template allows to choose client type and introduce name and/or id -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_new_reservation/restaurant_new_reservation_2.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_new_reservation %} id="current-page" {% endblock id_new_reservation %}

{% block content %}
    <div class="main">
        <form method="post">
            {% csrf_token %}
            <p class="process-guidance">Seleccioni el tipus de client:</p>
            <button class="select-button" type="submit" name="client_type" value="internal">Client Intern</button>
            <button class="select-button" type="submit" name="client_type" value="external">Client Extern</button>
        </form>
    </div>
{% endblock content %}