{% extends "worker/receptionist/base_receptionist.html" %}
<!-- This template shows the receptionist the summary of the reservation -->
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/reservation/new_reservation/new_reservation_4.css' %}">
{% endblock %}

<!-- This block must appear in every reservation template as it is -->
{% block id_reservation %} id="current-page" {% endblock id_reservation %}

{% block content %}
    <div class="main">
    <form action="{% url 'submit_reservation' %}" method="post">
        {% csrf_token %}
        <h1 id="text-reserva">Reserva {{ reservation.id }}</h1>
        <div id="big-container">
            <div class="data-container">
                <div class="inner-container">
                    <p>Data entrada: {{ reservation.entry }}</p>
                    <p>Data sortida: {{ reservation.exit }}</p>
                    <p>Número d'hostes: {{ reservation.num_guests }}</p>
                    <p>Tipus d'habitació: {{ reservation.room.room_type }}</p>
                    <p>Tipus de pensió: {{ reservation.pension_type }}</p>
                    <p>Habitació: {{ reservation.room }}</p>
                </div>
            </div>
            <div class="data-container">
                <div class="inner-container">
                    <p>Nº reserva: {{ reservation.id }}</p>
                    <p>Hoste: {{ reservation.client.first_name }}</p>
                    <p>Id: {{ reservation.client.id_number }}</p>
                    <p>Telèfon: {{ reservation.client.phone_number }}</p>
                </div>
            </div>
        </div>
        <h3 id="preu-total">Preu total: {{ reservation.total_price }}€</h3>
        <div class="procedural-buttons">
            <button class="cancel-button" type="button" onclick="goBack()">&#10092; Cancel·lar</button>
            <button class="continue-button" type="submit" onclick="return confirm('Vols finalitzar la reserva?');">Finalitzar Reserva &#10093;</button>
        </div>
    </form>
    </div>
{% endblock %}
