{% extends "worker/base_worker.html" %}
<!-- This template lets the receptionist choose the specific room for the client -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/reservation/new_reservation/new_reservation_2.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="room-info">
        <h2>Habitació suggerida</h2>
        <div>
            {{ room. }}
        </div>
    </div>
    <div class="room-list">

    </div>
{% endblock content %}