/***** Overwrite Main *****/
main {
    justify-content: flex-start;
    position: fixed;
    top: 0;
}

body {
    height: 100vh;
}

/***** Overwrite Menu *****/
header {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    box-shadow: 0 0 20px 20px rgba(255, 255, 255, 0.2);
    z-index: 2;
}

.menu {
    gap: 15px;
}

.menu li a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu li a:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.5);
}

.menu button {
    font-weight: bold;
    color: #003a86;
}

/***** User Home *****/
#user-home {
    height: 70px;
    width: 70px;
    background: none;
    box-shadow: none;
}

#user-home img{
    width: 100%;
    height: 100%;
}

#user-home img:hover {
    opacity: 0.6;
}

.menu a:has(#current-page) {
    border-bottom: #003a86 2px solid;
}
.menu a:has(#current-page):hover {
    border-bottom: #003a86 2px solid;
}

.menu li a:hover {
    background-color: rgba(247, 202, 62, 0.3);
    box-shadow: 0 0 10px 10px rgba(247, 202, 62, 0.3);
}