{% extends "worker/restaurant/base_restaurant.html" %}
<!-- This template shows all the reservations with its attributes -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/restaurant/restaurant_check_reservations/restaurant_check_reservations.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every restaurant template as it is -->
{% block id_restaurant_home %} id="current-page" {% endblock id_restaurant_home %}

{% block content %}
    <div class="main">
        <!-- <form method="get" class="filter-field">
            % csrf_token %}
            <div class="form-group">
                <h5>{ form.num_reservation.label }}</h5>
                { form.num_reservation }}
            </div>
            <div class="form-group">
                <h5>{ form.id_number.label }}</h5>
                { form.id_number }}
            </div>
            <div class="form-group">
                <h5>{ form.room_num.label }}</h5>
                { form.room_num }}
            </div>
            <div class="procedural-buttons">
                <button class="filter-button" type="submit">Filtrar</button>
            </div>
        </form> -->

        <form method="post">
            {% csrf_token %}
            <div id="notifications">
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <p class="notification-err">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            </div>
        </form>
    
        <ul class="reservation-list">
            <ul class="list-index">
                <li id="reservation-id">Reserva</li>
                <li id="name">Nom Client</li>
                <li id="entry">Data</li>
                <li id="exit">Servei</li>
                <li id="num-guests">Nº hostes</li>
                <li id="pension">Tipus client</li>
            </ul>
            <div id="divider"></div>
            {% for reservations in reservations %}
                <div class="list-div">
                    <li>
                        <div id="reservation-id">{{ reservations.reservation_id }}</div>
                        <div id="name">{{ reservations.client_name }} {{ reservations.client_last_name }}</div>
                        <div id="entry">{{ reservations.day }}</div>
                        <div id="exit">{{ reservations.service }}</div>
                        <div id="num-guests">{{ reservations.num_guests }}</div>
                        <div id="pension">
                            {% if reservations.is_internal %}
                                Intern
                            {% else %}
                                Extern
                            {% endif %}
                        </div>
                    </li>
                    <div class="list-extra">
                        <div class="icon" id="checkbox-icon">
                            <button><img src="{% static 'img/icons/not-checked.png' %}" alt="Editar reserva"></button>
                        </div>
                        <div class="icon">
                            <button><img src="{% static 'img/icons/delete-icon.png' %}" alt="Eliminar reserva"></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </ul>
    </div>
{% endblock content %}