{% extends "worker/cleaner/base_cleaner.html" %}
<!-- This template shows the detail for every the assigned room to clean for the day -->
<!-- It shows a form for every assigned room -->
<!-- When a cleaned room is selected, it should show the information of the form (with the possibility of editing) -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/cleaner/cleaner_room_info.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every cleaner template as it is -->
{% block id_cleaner_home %} id="current-page" {% endblock id_cleaner_home %}

{% block content %}
    <div class="main">
        <h2 class="subsection-title">{{ room.room_num }}</h2>
        <form class="general-form">
            {% csrf_token %}
            <div class="form-field-cleaner"><label>Els clients s'han deixat alguna cosa?</label> {{ form.missing_objects }}</div>
            <div class="form-field-cleaner"><label>Falten tovalloles?</label> {{ form.need_towels }}</div>
            <div class="form-field-cleaner"><label>Comentaris addicionals:</label> {{ form.additional_comments }}</div>
            <div class="procedural-buttons">
                {% if not cleaned_room %}
                    <button type="submit" class="filter-button">Habitació netejada</button>
                {% else %}
                    <button type="submit" class="filter-button" id="checked-button">Habitació no netejada</button>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}