<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <meta charset="UTF-8">
    <meta name="robots" content="index, follow">
    <meta name="description" content="Game Management">
    <meta name="keywords" content="Game, Management, Admin, Panel">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OPENGRAPH -->
    <meta property="og:title" content="Game Management">
    <meta property="og:description" content="Game management website">
    <!--<meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:url" content="https://www.example.com"> -->
    <meta property="og:type" content="website">

    <title>{% block title %}Las Palmeras Hotel - Base{% endblock title %}</title>

    {% block extra_meta_tags %}{% endblock extra_meta_tags %}
</head>

<body>
    <header>
        {% block header %}
            <img id="logo" width="50" src="{% static 'img/test-logo-las-palmeras.png' %}" alt="Las Palmeras Hotel">
            <nav>
                <ul class="menu">
                    <li>EXAMPLE</li>
                    <li>EXAMPLE</li>
                    <li>EXAMPLE</li>
                </ul>
            </nav>
            <img id="user" width="50" src="{% static 'img/user-icon.png' %}" alt="User">
        {% endblock header %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>