<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

        <meta charset="UTF-8">
        <meta name="robots" content="index, follow">
        <meta name="description" content="Game Management">
        <meta name="keywords" content="Game, Management, Admin, Panel">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- OPENGRAPH -->
        <meta property="og:title" content="Game Management">
        <meta property="og:description" content="Game management website">
    <!--<meta property="og:image" content="https://www.example.com/image.jpg">
    <meta property="og:url" content="https://www.example.com"> -->
        <meta property="og:type" content="website">

        <title>Hotel Las Palmeras · {% block title %}Home{% endblock title %}</title>

        {% block extra_meta_tags %}{% endblock extra_meta_tags %}
    </head>

    <body>
        <header>
            {% block header %}
                <nav>
                    <ul class="menu">
                        <li>EXAMPLE</li>
                        <li>EXAMPLE</li>
                        <li>EXAMPLE</li>
                    </ul>
                </nav>
                <h1>Hotel Las Palmeras</h1>
                <img id="user" width="50" src="{% static 'img/user-icon.png' %}" alt="User">
            {% endblock header %}
        </header>

        <main>
            {% block content %}
                <button> <a href="{% url 'worker_home' %}">
                    RECEPTION - Add Client
                </a></button>
                
                <button> <a href="{% url 'add_client' %}">
                    RECEPTION - Add Client
                </a></button>

                <button> <a href="{% url 'room_reservation' %}">
                    RECEPTION - Room Reservation
                </a></button>
                
                <button> <a href="{% url 'add_room' %}">
                    RECEPTION - Add Room
                </a></button>
                
                <button> <a href="{% url 'check_in' %}">
                    RECEPTION - Check-in
                </a></button>
                
                <button> <a href="{% url 'fetch_rooms' %}">
                    RECEPTION - Fetch Rooms
                </a></button>
            {% endblock content %}
        </main>

        <footer>
            {% block footer %}
            {% endblock footer %}
        </footer>
    </body>
</html>