.main {
    justify-content: center;
    top: 0;
}

.list {
    position: relative;
    background: rgba(0, 58, 134, 0.18);
    display: flex;
    flex-direction: column;
    padding: 50px 100px 70px 100px;
    border-radius: 10px;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-width: 600px;
}

.date {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.date-info {
    cursor: text;
    padding: 10px;
    border-radius: 3px;
    font-size: 48px;
    font-family: "Gill Sans MT", Arial, sans-serif;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.yellow-info {
    width: 100%;
    background-color: rgba(247, 202, 62, 0.5);
    box-shadow: rgba(247, 202, 62, 0.5) 0 0 10px 10px;
    border-radius: 10px;
    font-style: italic;
}

.yellow-info label, .yellow-info span {
    padding: 0 24px;
}

.info p {
    width: 100%;
    font-size: 1.8em;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info p span {
    font-weight: bold;
    color: #003a86;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.info cite {
    background: #e3e8ff;
    padding: 4px 8px;
    border-radius: 5px;
    opacity: 0.7;
}

#total-price {
    width: 100%;
    font-size: 1.8em;
    padding: 0;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#total-price span {
    width: min-content;
    padding: 4px 8px;
}

#total-price span:last-child {
    color: #003a86;
}

.cross {
    position: absolute;
    top: 25px;
    right: 25px;
    text-decoration: none;
    color: black;
}

/***** ICONS Overwrite *****/
.gg-chevron-double-right {
    transform: scale(2);
}