.main{
    gap: 20px;
}


#list{
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.list-index{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.list-index li{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    /*text-decoration: underline;*/
    list-style-type: none;
    /*border-right: solid 1px black;*/
    padding: 0 5px;
}
.short-li{
    width: 12%;
}
.middle-li{
    width: 20%;
}
.long-li{
    width: 28%;
}

.reservation-list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 0;
}
.reservation-list li{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 2px black;
    border-radius: 2px;
}
.reservation-list li div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 5px;
    /*padding: 10px 15px;*/
    border-right: solid 2px black;
}
.reservation-list li div:last-child{
    border-right: none;
}