.main {
    gap: 20px;
}

form {
	width: 100%;
}

/******** Overwrite ********/
.procedural-buttons {
    width: 104px;
    height: 58px;
}

.procedural-buttons button {
    width: 100%;
    height: 100%;
}