{% extends "worker/receptionist/base_receptionist.html" %}
<!-- The receptionist_home template must let the worker choose between creating a new reservation and modifying one -->

{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/worker/receptionist/receptionist_home.css' %}">
{% endblock extra_css %}

<!-- This block must appear in every reservation template as it is -->
{% block id_reservation %} id="current-page" {% endblock id_reservation %}

{% block content %}
    <div class="main">
        <h1 class="section-title">
            RESERVES
        </h1>
        <p class="process-guidance">
            Esculli el procediment que desitja realitzar:
        </p>
        <div id="access-process-buttons">
            <a href="{% url 'new_reservation_1' %}">
                <button class="access-process-button">Crear nova reserva</button>
            </a>
            <a href="{% url 'search_reservation' %}">
                <button class="access-process-button">Gestionar reserves</button>
            </a>
        </div>
    </div>
{% endblock content %}